html {
    scroll-behavior: smooth;
}

#LogoHeader {
    align-content: center;
}

#landingpageLink {
    text-align: center;
    font-style: normal;
    width: 33%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;

}

header {
    width: 100%;

    text-align: center;

}

#zumShop {
    font-size: x-large;
}

#catch-text {
    font-size: 100px;

    font-family: Helvetica;
}

#catch-box {
    text-align: center;
}

#Logo {
    width: 40%;


}

nav {
    background-color: #5C9EAD;


    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    text-align: center;

}

a {
    color: black;
    text-decoration: none;
    margin: 20px;
}

#men_checkbox:checked~.shoes.shoes:hover {
    display: none;
}

#filter {
    text-align: center;

}



hr {
    width: 75%;
}



.shoes {
    width: 325px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px -5px 5px grey;
    transition: transform .5s ease;
    filter: grayscale(100%);
}


.shoes:hover {
    transform: scale(1.1);
    filter: grayscale(0%);

}


.row {
    text-align: center;
}

#nachOben {
    width: 20%;
    float: right;
    transition: transform .5s ease;
}

#nachOben:hover {
    transform: scale(1.1);
}

#feedbackForm {
    margin: right 80%;
}
.inputForm{
    margin: right 80%;
}

.kontaktInfo{
    align-items: row;
}

.janPng{
    margin-top:2vh;
    margin-left:2vw;
    width: 30vw;
    height:60vh;
}
.benPng{
    margin-top:2vh;
    margin-left:2vw;
    width: 30vw;
    height:60vh;
}
.thomasPng{
    margin-top:2vh;
    margin-left:2vw;
    width: 30vw;
    height:60vh;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #5C9EAD;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.footertextRight {
    margin: 0;
    margin-right:20vw;
}
.footertextLeft {
    margin: 0;
    margin-left:20vw;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        align-items: center;
    }
}

.geschichteContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.geschichteText {
    grid-column: 1;
    font-size:larger;
    margin-left:3vw;
}

.geschichteSchuhContainer {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.geschichteSchuh {
    max-width: 100%;
    height: 12vw;
    margin-bottom: 1vw;
}
.landingMain {
    background-image: url('Bilder/bgPick.png');
    background-size: cover; 
    
}
button[type="submit"] {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#responseMessage {
     text-align: center;
     margin-top: 10px;
     color: #333333;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}   

.inputForm{
    align-items: center;
    text-align: center;
    size: 70%;
}
h1{
    text-align: center;
}

#message{
    font-family: Arial, sans-serif;
}